body {
  font-family: Arial;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  background-color: #306998;
  color: white;
  padding: 15px;
}

.menu button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#content {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}
